<!DOCTYPE html>
<html>

<head>
  <title>VotaPrato</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.js"></script>
</head>

<body>
  <%= render  "layouts/menu_principal" %>

  <%= yield %>
  <script>
    <%= yield :js %>
  </script>
</body>

</html>